/* 
selector {
    properties: value;
} 
*/

/*
    Selector
        p, h1, h3, div, main
        #name
        .bio-header

    Properties
        width
        height
        color
        background-color
        font-size

    Values
        width: 200px

    Units
        px -> pixels
        cm -> centimers
        em -> relative to the parent element
        rem -> relative to the root (html)

*/

.title {
    color: red;
    background-color: aqua;
}

#name {
    color:brown;
    background-color: white;
}


img {
    width: 200;
    height: 200;
    border-radius: 50%;
    box-shadow:;
}

.btn {
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: black;
    }
}