html {
    margin: 0;
    box-sizing: border-box;
} 


body {
    margin: 0;
    font-size: 16px;
}
/*
  Grid
  display: Grid;
  nav cover first row
  header cover 2nd row
  main, aside
  footer
*/

/*
- css variables
- css functions
- css selectors
*/

/*
- specific colors (3 main colors, 2 accent colors)
- theme

*/

:root {
    --primary-color: blue;
    --secondary-color: white;
    --tertiary-color: black;
    --accent-color-1: rgba(111, 111, 111, 0.8)
}



@function --dashedborder() {
    border: 1px solid black;
}



.container {
    display: grid;
    grid-template-areas: 
    "menu menu"
    "header header"
    "main aside"
    "footer footer";
}


.hero {
    height: 80dvh;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--primary-color);
    grid-area: menu;

    ul {
        display: flex;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 500;
        font-size: 32px;
        gap: 50px;

        li {
            list-style: none;
        }

        li a {
          text-decoration: none;
          color: white;
        }
    }
}

.btn-menu {
    display: inline-block;
    background-color: transparent;
    color: white;
    font-size: 32px;
    padding: 10px;
}

.bio-header {
    grid-area: header;
    margin: 20px;
    padding: 20px;
    display: flex;
    gap: 5em;
    border-bottom: 2px solid #333333;
}

.title {
    color: blueviolet;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 48px;
}

#name2 {
    color: var(--primary-color);
}

#name {
    color:brown;
    background-color: white;
}


#profile-picture {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

aside {
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
}

.content {
    display: flex;
}

.main-content {
    grid-area: main;
}

.aside-content {
    grid-area: aside;
}

.btn {
    background-color: var(--primary-color);
    color: white;

    font-size: 20px;
    font-weight: 600;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: black;
    }


}

footer {
    background-color: #333333;
    color: white;
    font-size: 20px;
}

.footer {
    grid-area: footer;
}

@media screen and (max-width: 680px) {
    .menu {
        height: 400px;
        gap: 10px;
        font-size:24px;
        ul {
            flex-direction: column;

            li {
                border-bottom: 1px solid grey;
            }
        }
    }

    .bio-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding: 50px;
    }

    .footer {
        text-align: center;
    }
}